
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gridContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    border:1px solid #D9DFC6;
}

.btnContainer{
    display: flex;
    gap: 20px;
}

button{
    background-color: #E53888;
    color: white;
    padding: 10px;
    font-weight: bolder;
    border: none;
    border-radius: 8px;
    transition: .3s;
}
button:hover{
    background-color: #AC1754;
    cursor: pointer;
}