
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gridContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    border:1px solid black;
    /* width: 580px;
    height: 580px; */
}